<div class="lecteur">
  <p>lecteur works!</p>
  <figure>
    <figcaption>
      Listen :
      <p *ngIf="songsToPlay">{{ songsToPlay.title }}</p>
      <p *ngIf="!songsToPlay">Nothing to listen yet</p>
    </figcaption>

    <div *ngIf="songsToPlay">
      <audio autoplay loop #audio>
        <source [src]="audioSrc" type="audio/mp3" />
      </audio>
      <p>{{ audioTitle }}</p>
      <div *ngIf="songsToPlay.length >=  1">
        <button (click)="listenSong()">listen song</button>
        <button (click)="stopAudio()">Stop audio</button>
      </div>
    </div>
  </figure>
</div>
