<div class="playlist">
  <p>playlist works!</p>
  <ol>
    <li *ngFor="let song of arrSongEmitFromForm; let index = index">
      <app-song
        [song]="song"
        [isPlaying]="isPlaying"
        (songEmitToPlay)="songReceiveToPlay($event)"
      ></app-song>
      <button class="deleteButton" (click)="deleteSong(index)">
        Supprimer
      </button>
    </li>
    <!-- ici lancer le playAudio from service ? -->
    <button (click)="lunchPlaylist()">Jouer toute la playlist</button>
  </ol>
</div>
<app-lecteur [songsToPlay]="songsToPlay"></app-lecteur>
